*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #363636;
}
.no-scroll {
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  height: 104px;
  padding-left: 34px;
  border-bottom: 1px solid #d4d4d4;
}
.m-menu {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}
.line {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
  margin-left: 34px;
}
.search-input {
  background: url('../img/search-icon.svg') no-repeat center left;
  border: none;
  padding-left: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-left: 34px;
}
.navigation {
  margin-right: 44px;
  margin-left: auto;
}
.navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-right: 18px;
}
.button-group {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.button {
  height: 100%;
  cursor: pointer;
}
.sign-up {
  color: #5671f6;
  font-size: 18px;
  line-height: 21px;
  border: none;
  background-color: #fff;
  padding-left: 34px;
  padding-right: 34px;
  border-left: 1px solid #a5a5a5;
}
.login {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background-color: #5671f6;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}
.mobile-buttons {
  display: none;
}
.m-menu-button,
.search-button {
  padding: 5px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.menu-line {
  display: block;
  height: 2px;
  background-color: #000;
  width: 16px;
  flex-basis: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-repeat: 40px;
}
.container {
  max-width: 1130px;
  margin: auto;
}
.film {
  padding: 80px 0;
  border-bottom: 1px solid #d4d4d4;
}
.film-wrapper {
  display: flex;
}
.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.poster {
  border-radius: 5px 5px 0 0;
  width: 358px;
}
.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0 0 5px 5px;
  padding: 25px 0;
  cursor: pointer;
  text-decoration: none;
}
.trailer-button-icon {
  margin-right: 14px;
}
.film-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
}
.film-subtitle {
  display: block;
  margin-bottom: 32px;
  color: #a5a5a5;
  font-size: 18px;
  line-height: 21px;
}
.film-description {
  font-size: 14px;
  line-height: 150%;
  max-width: 514px;
  color: #000;
  margin-bottom: 50px;
}
.about-film {
  display: flex;
  margin-bottom: 50px;
}
.about-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}
.about-text-bold {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}
.left-side {
  margin-right: 40px;
}
.rating {
  display: flex;
  align-items: center;
}
.rating-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 1px solid #5671f6;
  border-radius: 10px;
  margin-right: 28px;
  color: #5671f6;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}
.rating-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 12px;
}
.rating-text {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
}
.rating-text-bold {
  font-weight: bold;
}
.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}
.tabs {
  display: flex;
  align-items: center;
}
.section-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  margin-right: 30px;
}
.section-title.active {
  font-weight: 900;
  color: #363636;
}
.tabs {
  margin-bottom: 60px;
}
.tabs-content {
  display: none;
  align-items: center;
  flex-wrap: wrap;
}
.tabs-content.visible {
  display: flex;
}
.tab {
  cursor: pointer;
}
.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}
.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.name {
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
  margin-top: 0;
  margin-bottom: 6px;
}
.en-name {
  color: #a5a5a5;
}
.news {
  background-color: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 100px;
}
.section-news-title {
  font-weight: 900;
  color: #000;
  margin-bottom: 65px;
}
.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-card {
  flex-basis: 23%;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  min-height: 186px;
}
.news-date {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.news-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 14px;
}
.button-next {
  display: none;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}

.demo-modal {
  position: fixed;
  width: 50%;
  height: 50%;
  padding: 20px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  z-index: 201;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  background: #fff;
}
.modal-header {
  margin: 30px 0;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.modal-btn {
  align-self: center;
  padding: 10px 15px;
  color: #fff;
  background-color: #5671f6;
  border: none;
  border-radius: 4px;
}

.overlay {
  content: "";
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .line {
    margin-left: 20px;
  }
  .card-image {
    width: 70px;
    height: 70px;
  }
  .header {
    height: 90px;
    padding-left: 20px;
  }
  .sign-up {
    padding: 0 20px;
  }
  .navigation {
    margin-right: 20px;
  }
  .search-input {
    margin-left: 20px;
  }
  .navigation-link {
    margin-right: 10px;
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }
  .navigation {
    display: none;
  }
  .search-input {
    margin-right: auto;
  }
  .film-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .film-subtitle {
    margin-bottom: 20px;
  }
  .film-description,
  .about-film {
    margin-bottom: 30px;
  }
  .about-text-bold {
    display: block;
    margin-bottom: 10px;
  }
  .card-image {
    width: 100px;
    height: 100px;
  }
  .card {
    flex-basis: 50%;
  }
  .news-card {
    flex-basis: 48%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .header {
    height: 80px;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .m-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 68px;
    bottom: 0;
    right: 0;
    height: calc(100%-68px);
    background: #5671f6;
  }
  .m-menu.active {
    display: flex;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .button-group {
    height: auto;
    flex-direction: column;
  }
  .search-input {
    margin: 0;
    width: 260px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #fff;
  }
  .navigation-link {
    color: #fff;
    margin-right: 0;
    margin-bottom: 18px;
  }
  .navigation-link:last-child {
    margin-bottom: 0;
  }
  .sign-up {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-bottom: 30px;
  }
  .film {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .film-wrapper {
    flex-wrap: wrap;
  }
  .film-text {
    order: -1;
    margin-bottom: 30px;
  }
  .cast {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .news {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .news-card {
    max-width: 90%;
  }
  .button-next {
    display: block;
  }
  .mobile-buttons {
    display: block;
    margin-left: auto;
  }
  .line {
    display: none;
  }
}
@media (max-width: 576px) {
  .container {
    width: 95%;
  }
  .film-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
  }
  .film-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 40px;
  }
  .film-description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 26px;
  }
  .about-film {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .about-text-bold {
    display: inline-block;
  }
  .button-group {
    display: none;
  }

  .film-trailer,
  .poster {
    width: 100%;
  }
  .film-trailer {
    margin-bottom: 30px;
  }
  .film-text {
    order: 1;
    margin-bottom: 0;
  }
  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .card-image {
    width: 60px;
    height: 60px;
  }
  .tabs {
    margin-bottom: 35px;
  }
  .cast {
    margin-bottom: 50px;
  }
  .news-card {
    flex-basis: 100%;
  }
}
